<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <h2>
            {{user}}
        </h2>
        <h2>
            {{pass}}
        </h2>
        <form id="login-form" class="form" action="/home" method="post">
            <div class="form-group">
                <button class="btn btn-info btn-md" >logout</button>
          </div>
        </form>
        
    </body>
</html>